//--------------
//VARIABLES
//--------------

// Color palette
//--------------


$base: #fff;
$login: #0091FF;
$error: #E02020;
$border-control: #CAD3DF;


// Font
//--------------

$font-primary: 'Roboto', sans-serif;
$font-secundary: 'Roboto Slab', serif;

$font-weight-normal: 500;
$font-weight-bold: 700;
