<header class="main-header">

  <!-- LOGO -->
  <div class="main-header__logo">
    <a class="main-header__link" [routerLink]="['/home']">/clone</a>
  </div>
  <!-- //LOGO -->

  <!-- SEARCH BAR (only visible in user page)-->
  <div class="main-header__search">
    <label class="main-header__search-bar">
      <svg class="main-header__icon main-header__icon--search">
        <use xlink:href="/assets/icons/sprite.svg#search" />
      </svg>
      <input type="search" placeholder="Search..." class="main-header__search-control">
    </label>
  </div>
  <!-- // SEARCH BAR -->

  <button class="main-header__btn" (click)="toggleMenu()">
    <svg class="main-header__icon main-header__icon--lines">
      <use xlink:href="/assets/icons/sprite.svg#menu-lines" />
    </svg>
  </button>

  <!-- POPUP -->
  <div class="main-header__popup" [class.main-header__popup--show]="isMenuOpen">
    <nav class="main-header__popup-navbar" [class.main-header__popup-navbar--show]="isMenuOpen">
      <button (click)="toggleMenu()" class="main-header__close">&times;</button>
      <a class="main-header__link main-header__popup-link" [routerLink]="['/upload']" (click)="toggleMenu()">Upload</a>
      <a class="main-header__link main-header__popup-link" (click)="toggleNotifications()">Notifications</a>
      <a class="main-header__link main-header__popup-link" [routerLink]="['/', username | async]" (click)="toggleMenu()">User</a>
    </nav>
  </div>
  <!-- // POPUP -->

  <!-- NAVBAR -->
  <nav class="main-header__navbar">
    <svg class="main-header__icon" [routerLink]="['/upload']">
      <use xlink:href="/assets/icons/sprite.svg#upload" />
    </svg>
    <div class="main-header__notifications" (click)=toggleNotifications()>
      <svg class="main-header__icon">
        <use xlink:href="/assets/icons/sprite.svg#bell" />
      </svg>
      <div class="main-header__notifications-popup" [class.main-header__notifications-popup--show]="isNotificationOpen">
        <h3 class="main-header__notifications-title">Notifications</h3>
        <div class="main-header__notifications-container">
          <p class="main-header__notifications-empty" *ngIf="notificationsEmpty">No notifications yet</p>
          <ul class="main-header__notications-list" *ngIf="!notificationsEmpty">
            <li *ngFor="notification in notifications"></li>
          </ul>
        </div>
      </div>
    </div>
    <img class="main-header__avatar" [src]="userAvatar | async" alt="User profile avatar" [routerLink]="['/', username | async]">
  </nav>
  <!-- //NAVBAR -->

</header>
