<app-header-img></app-header-img>
<div class="container-pageImg">
  <app-sub-header (expandEvent)="expandImg($event)"></app-sub-header>
  <app-img-info [image]="image$ | async"  [expand]="expanded" [showButtons]="showButtons$ | async" (direction)="go($event)" ></app-img-info>
</div>
<!-- SEARCH BAR (only visible in user page)-->
<div class="footer">
<footer class="">
  <div class="footer__search">
    <label class="footer__search-bar">
      <svg class="footer__icon footer__icon--search">
        <use xlink:href="/assets/icons/sprite.svg#search" />
      </svg>
      <input type="search" placeholder="Search here..." class="footer__search-control">
    </label>
  </div>
</footer>
</div>
<!-- // SEARCH BAR -->
