<form [formGroup]="formChangePswd" class="form" (ngSubmit)="submit(formChangePswd)">
  <h2 class="form__title">Change password</h2>
  <!-- Current Password -->
  <div class="form__group">
    <label class="form__label" for="current-password"
      [ngClass]="{'error': passwordHasError(formChangePswd.controls.currentPassword) }">
      Current Password
    </label>
    <input class="form__control form__control--whitebg" type="password" id="current-password"
      [ngClass]="{'input-error': passwordHasError(formChangePswd.controls.currentPassword) }"
      formControlName="currentPassword" minlength="6" autocomplete="current-password">
  </div>
  <!-- //Current Password -->

  <!-- Password -->
  <div class="form__group">
    <label class="form__label" for="new-password"
      [ngClass]="{'error': passwordHasError(formChangePswd.controls.newPassword) }">
      Password <span class="form__label--info">(min 6 char)</span>
    </label>
    <input class="form__control form__control--whitebg" type="password" id="new-password"
      [ngClass]="{'input-error': passwordHasError(formChangePswd.controls.newPassword) }" formControlName="newPassword"
      minlength="6" autocomplete="new-password">
  </div>
  <!-- //Password -->

  <!-- Confirm Password -->
  <div class="form__group">
    <label class="form__label" for="confirm-password"
      [ngClass]="{'error': confirmPasswordHasError(formChangePswd.controls.confirmPassword) }">
      Password confirmation
    </label>
    <input class="form__control form__control--whitebg" type="password" id="confirm-password"
      [ngClass]="{'input-error': confirmPasswordHasError(formChangePswd.controls.confirmPassword) }"
      formControlName="confirmPassword" autocomplete="confirm-password">
    <div class="form__msg-error" *ngIf="confirmPasswordHasError(formChangePswd.controls.confirmPassword)">
      Passwords do not match.
    </div>
  </div>
  <!-- // Confirm Password -->

  <div class="form__actions">
    <button class="btn btn__success" type="submit" [disabled]="formChangePswd.invalid">Change password</button>
  </div>
</form>
