<div class="card">
  <img [src]="image.url" class="card__img">
  <h3 class="card__title">
    <input #title type="text" placeholder="Title..." class="card__input" [class.card__invalid]="invalidField.title"
      [(ngModel)]="imgTitle" (input)="updateTitle(title.value)" (click)="updateTitle(title.value)">
  </h3>
  <div class="card__select" (click)="toggleSelectCategories(image)">
    <ul class="card__select-control">
      <li class="card__select-default" [class.card__select-default--selected]="isSelected.categories"  [class.card__invalid]="invalidField.category">
        {{ image.category?.title || 'Categories...' }}</li>
      <div *ngIf="isSelected.categories" class="card__select-dropdown">
        <li class="card__select-item" (click)="selectCategory(image, defaultCategory)">Categories...</li>
        <li *ngFor="let category of categories$ | async" class="card__select-item"
          (click)="selectCategory(image, category)"> {{ category.title }} </li>
      </div>
    </ul>
    <svg class="card__select-icon" [class.card__select-icon--selected]="isSelected.categories">
      <use xlink:href="/assets/icons/sprite.svg#arrow"></use>
    </svg>
  </div>
  <div class="card__select">
    <ul class="card__select-control">
      <li class="card__select-default" [class.card__select-default--selected]="isSelected.tags"
        (click)="toggleSelectTags(image)">Tags...</li>
      <div *ngIf="isSelected.tags" class="card__select-dropdown">
        <app-tag [tags]="tags" (tagChecked)="selectTag($event)" (tagUnChecked)="unSelectTag($event, image)"
          (tagAdded)="addTag($event)"></app-tag>
      </div>
    </ul>
    <svg class="card__select-icon" [class.card__select-icon--selected]="isSelected.tags"
      (click)="toggleSelectTags(image)">
      <use xlink:href="/assets/icons/sprite.svg#arrow"></use>
    </svg>
  </div>
</div>
