@import 'global/variables';
@import 'mixins/mixins';

.images-list {
  @include size(100%, 100%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(267px), 1fr));
  grid-template-rows: max-content;
  column-gap: 8px;
  row-gap: 39px;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $grey-100;
}

.card {
  font-size: rem(13px);
  font-family: $font-primary;

  &__title {
    width: 100%;
    font-weight: $font-weight-ligth;
  }

  &__input {
    @include size(100%, rem(34px));
    padding: 9px;
    border: none;
  }

  &__select {
    @include flex(center, flex-end);
    position: relative;
    margin-top: 8px;

    &-control {
      @include size(100%, rem(24px));
      @include flex(flex-start, center);
      flex-direction: column;
      position: relative;
      background-color: #fff;
      color: $grey-400;
      border: none;
      border-radius: 0px;
      font-weight: $font-weight-regular;
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
      appearance: none;

      &:hover {
        cursor: pointer;
      }
    }

    &-default {
      @include size(100%, 100%);
      @include flex(center, flex-start);
      padding: 0px 9px;

      &--selected {
        outline: none;
        border: 1px solid $border-control;
      }
    }

    &-dropdown {
      @include size(100%, auto);
      background-color: #fff;
      position: absolute;
      top: 26px;
      border: 1px solid $border-control;
      z-index: 1000;
    }

    &-item {
      padding: 8px;

      &:hover {
        color: $success;
        cursor: pointer;
      }
    }

    &-icon {
      @include size(rem(12px), rem(7px));
      position: absolute;
      right: 9px;
      fill: $border-control;
      transition: all 0.15s linear;

      &--selected {
        transform-origin: center;
        transform: scale(1, -1);
      }
    }

  }

  &__img {
    @include size(100%, rem(167px));
    object-fit: cover;
  }
}
