@import 'global/variables';
@import 'mixins/mixins';

.home {

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: rem(345px);
    width: 100vw;

    padding: 15px;

    background-image: url(/assets/img/home_bg_mobile.png);
    background-repeat: no-repeat;
    background-size: cover;

    background-color: $grey-400;
    color: $base;

    @media screen and (min-width: 767px) {
      height: rem(515px);
      padding: 25px 35px;
      background-image: url(/assets/img/home_bg_tablet.png);
    }

    @media screen and (min-width: 1024px) {
      height: rem(676px);
      padding-left: rem(268px);
      padding-right: rem(232px);
      background-image: url(/assets/img/home_bg_desktop.png);
    }

    &-title {
      visibility: hidden;
      @media screen and (min-width: 767px) {
        visibility: visible;
        display: inline-block;
        font-family: $font-secundary;
        font-style: normal;
        font-weight: $font-weight-bold;
        font-size: rem(60px);
      }

    }
    &-subtitle {
      display: inline-block;
      //width: rem(213px);;
      font-family: $font-primary;
      font-style: normal;
      font-weight: $font-weight-regular;
      font-size: rem(22px);
    }
    &-subtitle2 {
      visibility: hidden;
      color: $base;
      @media screen and (min-width: 767px) {
        visibility: visible;
        display: inline-block;
        margin-top: rem(9px);
        font-family: $font-primary;
        font-style: normal;
        font-weight: 300;
        font-size: rem(19px);
      }
    }
    &-desc {
      display: inline-block;
      font-family: $font-primary;
      font-style: normal;
      font-weight: 200;
      font-size: rem(14px);
    }
  }

  &__search {
    margin-top: rem(28px);
    margin-bottom: rem(20px);
    //margin-right: 10%;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;

    &-bar {
      @include flex(center, flex-start)
    }


    &-control {
      width: 100%;
      border: none;
      font-family: $font-primary;
      font-weight: $font-weight-ligth;
      font-size: 1rem;
    }

  }

  // ICONS
  // -----------------
  &__icon {
    @include size(rem(36px), rem(25px));

    opacity: 0.6;

    &--search {
      padding-top: 4px;
      fill: #bbb;
      opacity: 0.6;
    }
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  &__gallery {
    background-color: seagreen;
    width: 100vw;
    height: 40vh;

    @media screen and (min-width: 767px) {
      @include flex(center, space-between);
      height: rem(90px);
      padding: 25px 35px;
    }
  }
}



.br {
  display: block;
  @media screen and (min-width: 767px) {
    display: inline;
  }
}

