<div class="settings">
  <nav class="settings__navbar">
    <h1 class="settings__navbar-title">Account settings</h1>
    <a [routerLink]="['./']" routerLinkActive="active" class="settings__navbar-link">Edit profile</a>
    <a [routerLink]="['change-password']" routerLinkActive="active" class="settings__navbar-link">Change password</a>
    <a [routerLink]="['close-account']" routerLinkActive="active" class="settings__navbar-link">Close account</a>
  </nav>
  <router-outlet class="settings__child"></router-outlet>
</div>

