<!-- <div *ngIf="error" class="container-error">
  <p>{{error}}</p>
  <button class="btn btn__close" (click)="errorClose()" type="button">&times;</button>
</div>
<div *ngIf="success" class="container-success">
  <p>Changes submitted</p>
  <button class="btn btn__close" (click)="successClose()" type="button">&times;</button>
</div> -->
<div class="container">
  <form class="form" [formGroup]="formEditProfile" (ngSubmit)="submit(formEditProfile)">
    <h1 class="form__title">Edit profile</h1>
    <div class="form__box">
      <div class="form__img">
        <img class="form__img-img" [src]="userAvatar">
        <div class="form__img-link">
          <input #avatarImg type="file" id="avatar-file" (change)=changeAvatar(avatarImg.files[0]) hidden>
          <label for="avatar-file">Change profile image</label>
        </div>
      </div>
      <div class="form__asideimg">
        <div  class="form__group">
          <label  class="form__label" for="name"
          [ngClass]="{'error': firstNameHasError(formEditProfile) }"
          >First name</label>
          <input  class="form__control form__control--whitebg" type="text" name="name"
          [ngClass]="{'input-error': firstNameHasError(formEditProfile) }"
            id="name" formControlName="firstname" minlength="4">
        </div>
        <div class="form__group">
          <label class="form__label" for="lastname"
          [ngClass]="{'error': lastNameHasError(formEditProfile) }"
          >Last name</label>
          <input class="form__control form__control--whitebg" type="text" name="lastname" id="lastname"
          [ngClass]="{'input-error': lastNameHasError(formEditProfile) }"
          formControlName="lastname" minlength="4">
        </div>
        <div class="form__group">
          <label class="form__label" for="email"
          [ngClass]="{'error': emailHasError(formEditProfile) }"
          >Email address</label>
          <input class="form__control form__control--whitebg" type="email" name="email"
          [ngClass]="{'input-error': emailHasError(formEditProfile) }"
          id="email" formControlName="email">
        </div>
      </div>
    </div>
    <div class="form__details">
      <div class="form__group">
        <label class="form__label" for="username"
        [ngClass]="{'error': userNameHasError(formEditProfile) }">Username <span class="form__label--info">
          (only letters, numbers and underscores)</span>
        </label>
        <input class="form__control form__control--whitebg form__control-xl" type="text" name="username" id="username"
        [ngClass]="{'input-error': userNameHasError(formEditProfile) }"
        formControlName="username" minlength="4">
      </div>
    </div>
    <div class="form__actions">
        <button type="submit" class="btn btn__success" [disabled]="formEditProfile.invalid">update account</button>
    </div>
  </form>
  <div class="img"></div>
</div>
