<div class="container">
  <form class="form">
    <h1 class="form__title">Edit profile</h1>
    <div class="form__box">
      <div class="form__img">
        <div class="form__img-img"></div>
        <a href="#" class="form__img-link">Change profile image</a>
      </div>
      <div class="form__asideimg">
        <div  class="form__group">
          <label  class="form__label" for="name"
          >First name</label>
          <input  class="form__control" type="text" name="name"
            id="name">
        </div>
        <div class="form__group">
          <label class="form__label" for="lastname"
          >Last name</label>
          <input class="form__control" type="text" name="lastname" id="lastname">
        </div>
        <div class="form__group">
          <label class="form__label" for="email"
          >Email address</label>
          <input class="form__control" type="email" name="email"
            id="email">
        </div>
      </div>
    </div>
    <div class="form__details">
      <div class="form__group">
        <label class="form__label" for="username">Username <span class="form__label--info">
          (only letters, numbers and underscores)</span>
        </label>
        <input class="form__control form__control-xl" type="text" name="username" id="username">
      </div>
    </div>
    <div class="form__actions">
        <button type="submit" class="btn btn__success">update account</button>
    </div>
  </form>
  <div class="img"></div>
</div>
