@import 'global/variables';




.btn-login {
  background-color: $success;
  color: $base;
  font-family: $font-primary;
  margin: 15px 0px;
}

.link-span {
  color: #000;
  font-family: $font-primary;
  font-size: rem(16px);
}

.link-singup {
  color: #000;
  font-family: $font-primary;
  font-size: rem(16px);

}


// .photo {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   height: 40%;
// }
