<h1 class="title">/clone</h1>
<div class="container">
  <form action="" class="form">
    <div class="form__details">
      <div class="form__group">
          <label for="name" class="form__group-label">Email</label>
          <input type="text" id="name" class="form__group-control">
      </div>
      <div class="form__group">
          <label for="lastname" class="form__group-label">Password</label>
          <input type="text" id="lastname" class="form__group-control">
      </div>
    </div>
    <div class="form__actions">
        <button type="reset" class="btn btn-login">LOG IN</button>
        <a href="#" class="link-singup">or <u>SIGN UP</u></a>
    </div>
  </form> <!--//.contact-->
  <section class="login-img"><!--img-->
    <img src="https://unsplash.com/photos/86jMrGVgm90" alt="login imagen">
  </section>
</div>

