<div class="container">
  <form action="" class="form">
    <h1 class="form__title">/clone</h1>
    <div class="form__details">
      <div class="form__group">
          <label for="name" class="form__label">Email</label>
          <input type="text" id="name" class="form__control">
      </div>
      <div class="form__group">
          <label for="lastname" class="form__label">Password</label>
          <input type="text" id="lastname" class="form__control">
      </div>
    </div>
    <div class="form__actions">
        <button type="reset" class="btn btn-primary">LOG IN</button>
        <span class="link-span">or <a [routerLink]="['/signup']" class="link-singup">SIGN UP</a></span>
    </div>
  </form> <!--//.contact-->
  <img class="background" src="assets/img/login_img.png" alt="login imagen">
</div>



