@import '../../../styles/components/login/form';
@import '../../../styles/components/login/grid';
@import '../../../styles/global/variables';
@import '../../../styles/mixins/mixins';

.title {
  font-family: $font-secundary;
  font-size: rem(24px);
  font-weight: $font-weight-bold;
  margin-top: rem(23px);
  margin-bottom: rem(31px);
  margin-left: rem(15px);
}

.btn-login {
  background-color: $login;
  color: $base;
  font-family: $font-primary;
  margin: 15px 0px;
}

.link-singup {
  color: #000;
  font-family: $font-primary;
  font-size: rem(16px);

}

a {
  color: #000;
}
