
.btn {
  padding: 7px 8px;
  background-color: transparent;
  border: 0;
  color: $base;
  cursor: pointer;
  outline: none;

  &__link {
    font-family: $font-primary;
    font-weight: $font-weight-ligth;
    font-size: 20px;
    padding: 10px;
    color: $grey-200;
    text-decoration-line: underline;
    cursor: pointer;
    transition: all 0.15s;
  }

  &__link:hover {
    color: $grey-300;
  }

  &__success {
    min-width: rem(278px);
    height: rem(40px);
    background-color: $success;
    font-weight: 500;
    font-size: rem(15px);
    font-family: $font-primary;
    margin: 15px 0px;
    border-radius: 5px;
    text-transform: uppercase;
  }

  &__success:disabled  {
    background-color: $success-invalid;
  }

  &__primary {
    background-color: $success;
    font-weight: 500;
    font-size: rem(15px);
    font-family: $font-primary;
    padding: 7px 16px;
    margin: 15px 0px;
    text-transform: uppercase;
  }

  &__close {
    position: absolute;
    right: 0;
    font-size: rem(22px);
    margin-right: 5px;
  }
  &__primary--invalid {
    background-color: green;
  }

  &__alert {
    min-width: rem(278px);
    height: rem(40px);
    background-color: $error;
    font-weight: 500;
    font-size: rem(15px);
    font-family: $font-primary;
    margin: 15px 0px;
    border-radius: 5px;
    text-transform: uppercase;
  }

}

.link-singup {
  color: #000;
  font-family: $font-primary;
  font-size: rem(16px);
  text-transform: uppercase;
  text-decoration: underline;
}



//tablet styles
@media screen and (min-width: 767px) {

  .btn {

    &__primary {
      margin-right: 20px;
    }
  }
}

//desktop styles
@media screen and (min-width: 1024px) {


}
