
.btn {
  padding: 5px 8px;
  background-color: transparent;
  border: 0;
  color: $base;
  cursor: pointer;
  outline: none;

  &__primary {
    width: 100%;
    flex-grow: 1;
    height: rem(40px);
    background-color: $success;
    font-weight: 500;
    font-size: rem(15px);
    font-family: $font-primary;
    margin: 15px 0px;
    border-radius: 5px;
    text-transform: uppercase;
  }

  &__primary:disabled  {
    background-color: $success-invalid;
  }

  &__close {
    position: absolute;
    right: 0;
    font-size: rem(18px);
    margin-right: 5px;
  }
  &__primary--invalid {
    background-color: green;
  }

}


.link-singup {
  color: #000;
  font-family: $font-primary;
  font-size: rem(16px);
  text-transform: uppercase;
  text-decoration: underline;
}



@media screen and (min-width: 767px) {
  .btn__primary {
    width: 13%;
  }
}
