/*-------------------------------------MEDIAS QUERIES--------------*/


/*para mobile*/

.container {
  display: flex;
  flex-direction: column;
}

.container-error {
  display: flex;
  position: relative;
  font-family: $font-primary;
  font-size: rem(16px);
  font-weight: 500;
  background-color: $error;
  color: #fff;
  padding: 20px;
  transition: all 0.8s;

  &__message {
    display: inline-block;
  }

}


/*para tablet*/
@media screen and (min-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
 }


/*para desktop*/
@media screen and (min-width: 1024px) {
 .container {
  display: flex;
  flex-direction: row-reverse;
 }

}
