<div class="container-img">
  <button  class="btn btn__icon arrowLeft" type="button" (click)="direction.emit(-1)">
    <svg>
      <use xlink:href="/assets/icons/sprite.svg#arrow-left"></use>
    </svg>
  </button>
  <div class="carrousel">
    <img class="img" [src]="image?.url" alt="">
    <div class="img__info">
      <h3 class="img__title">{{image.file.name}}</h3>
      <div class="img__controls">
        <button  class="btn btn__icon expandButton" type="button">
          <svg>
            <use xlink:href="/assets/icons/sprite.svg#plusGray"></use>
          </svg>
        </button>
        <button  class="btn btn__icon expandButton" type="button">
          <svg>
            <use xlink:href="/assets/icons/sprite.svg#fav"></use>
          </svg>
        </button>
        <button  class="btn btn__icon expandButton" type="button">
          <svg class="user__icon--top">
            <use xlink:href="/assets/icons/sprite.svg#download"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <button  class="btn btn__icon arrowRight" type="button" (click)="direction.emit(1)">
    <svg>
      <use xlink:href="/assets/icons/sprite.svg#arrow-right"></use>
    </svg>
  </button>
</div>
