<div class="container-img">
  <button *ngIf="showButtons" class="btn btn__icon arrowLeft" type="button" (click)="direction.emit(-1)">
    <svg>
      <use xlink:href="/assets/icons/sprite.svg#arrow-left"></use>
    </svg>
  </button>
  <div class="carrousel">
    <a class="sub-header__link" [routerLink]="">
      <img class="carrousel__user-img" src="./assets/img/chinaguy.png" alt="">
      Deividev
    </a>
    <img class="img" [class.img__expand]="expand" [src]="image?.url" alt="">
    <div class="img__info">
      <h3 class="img__title">{{image.file.name}}</h3>
      <div class="img__controls">
        <button  class="btn btn__icon expandButton" type="button">
          <svg>
            <use xlink:href="/assets/icons/sprite.svg#plusGray"></use>
          </svg>
        </button>
        <button  class="btn btn__icon expandButton" type="button">
          <svg>
            <use xlink:href="/assets/icons/sprite.svg#fav"></use>
          </svg>
        </button>
        <button  class="btn btn__icon expandButton" type="button">
          <svg class="user__icon--top">
            <use xlink:href="/assets/icons/sprite.svg#download"></use>
          </svg>
        </button>
      </div>
      <a class="user__link" [routerLink]="">
        <img class="carrousel__user-img" src="./assets/img/chinaguy.png" alt="">
        Deividev
      </a>
    </div>
  </div>
  <button *ngIf="showButtons"  class="btn btn__icon arrowRight" type="button" (click)="direction.emit(1)">
    <svg>
      <use xlink:href="/assets/icons/sprite.svg#arrow-right"></use>
    </svg>
  </button>
</div>
