@import "global/variables";
@import "mixins/rem";

.container-img {
  display: flex;
  justify-content: center;
}

.carrousel {
  display: flex;
  flex-direction: column;
}


.img {
  position: relative;
  width: rem(779px);
  height: rem(590px);

  &__expand {
    width: 100vw;
  }

  &__title {
    font-family: $font-primary;
    font-weight: $font-weight-ligth;
    font-size: 24px;
    line-height: 28px;
    color: $grey-300;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.arrowLeft {
  position: absolute;
  top: 40%;
  padding: 0px 35px;
  left: 0;
  z-index: 10;
}

.arrowLeft svg {
  width: rem(23px);
  height: rem(40px);
}

.arrowRight {
  position: absolute;
  padding: 0px 35px;
  top: 40%;
  right: 0;
  z-index: 10;
}

.arrowRight svg{
  width: rem(23px);
  height: rem(40px);
}

.expandButton svg{
  fill: $grey-300;
  width: rem(18px);
  height: rem(20px);
}

.expandButton svg:hover{
  fill: $grey-200;
}


@media screen and (min-width: 767px) {

}


@media screen and (min-width: 1024px) {

}
