/*-------------------------------------MEDIAS QUERIES--------------*/


/*para mobile*/
@media (min-width: 320px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
}

/*para tablet*/
@media screen and (min-width: 767px) {
  .container {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
  }

 }


/*para desktop*/
@media screen and (min-width: 1024px) {
 .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

 }

}
