@import "global/variables";
@import "mixins/rem";

.container-upload {
  padding: 60px 35px;

  &__title {
    font-family: $font-secundary;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    padding-bottom: 30px;
    color: $grey-300;
  }
}

.footer-upload {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 50px;
  background: rgba(255, 255, 255, 0.945367);
}

.btn__primary--big {
  padding: 20px 50px;
  margin-left: 60px;
}
