
<div class="">
  <h1>Sign up for /Clone</h1>
  <form class="form" action="">
    <div class="form__group">
      <label class="form__label" for="name">First name</label>
      <input class="form__control" type="text" name="name" id="name">
    </div>
    <div class="form__group">
      <label class="form__label" for="surname">Last name</label>
      <input class="form__control" type="text" name="surname" id="surname">
    </div>
    <div class="form__group">
      <label class="form__label" for="email">Email</label>
      <input class="form__control" type="email" name="email" id="email">
    </div>
    <div class="form__group">
      <label class="form__label" for="username">Username <span>(only letters, numbers and underscores)</span></label>
      <input class="form__control" type="text" name="username" id="username">
    </div>
    <div class="form__group">
      <label class="form__label" for="password">Password <span>(min 6 char)</span></label>
      <input class="form__control" type="password" name="password" id="password">
    </div>
    <button class="btn" type="submit">sing up</button>
    <span>or
      <a class="" [routerLink]="['/login']" >login</a>
    </span>
  </form>
  <img src="/assets/background.png" alt="">
</div>
