<div class="container__user">
  <img class="img" src="../../../assets/img/login_mobile.png" alt="">
  <div class="container__info">
    <div class="container__controls">
      <h2 class="container__title">UserName</h2>
      <button class="btn btn__primary" type="button">Edit Profile</button>
      <button class="btn btn__primary" type="button">
        <svg >
          <use xlink:href="/assets/icons/sprite.svg#doots"></use>
        </svg>
      </button>
    </div>
    <p>Download free, beautiful high-quality photos curated.</p>
  </div>
</div>

<router-outlet></router-outlet>
